*{
	box-sizing: border-box;
}
.wrap{
    max-width: 1000px;
    margin: auto;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.2);
    border-left: 1px solid #ddd;

}
#baner img{
	width: 100%;
    position: absolute;
    left: 45px;
}
#baner {

    width: 80%;
    position: relative;
    top: 1px;
    right: -151px;
}
#baner img{
	height: 100%;
	position: relative;
}
.div{
	float:left;
	width:50%;
	margin-top:20px ;
	padding-left:87px;
}
#main-menu{
    position: relative;
    width: 18%;
    /* height: 236px; */
    height: 13%;
    border-left: 1px solid #ddd;
    top: -233px;
    left: -1px;

}
#main-menu ul{
    width: 100%;
    background: #fff;
    list-style-type: none;
    position: absolute;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.2);
    
}
#main-menu ul li a{
    text-decoration: none;
    padding-left: 46px;
}
#main-menu ul li {

	border-bottom: 2px solid green;
    margin-left: -38px;
    height: 39px;
    padding-top: 10px;
}
#main-content{
	position: relative;
    padding-left: 191px;
    margin-top: 8px;

}
.footer {
    width: 100%;
    height: 3%;
    top: 1810px;
    background-color: #9c7575;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 1px;
}
.back{
    text-align: center;
    font-size: 47px;
    position: fixed;
    top: 774px;
    right: 102px;

}
.clear{
	clear:both;
}