 .img{
	width:300px;
	margin-left: -25px;
	margin-top: 20px;
}

a:link{
	color: black;

}
a:visited{
	color:green;
}
a:hover{
	color:grey;
}
a:active{
	color:red;
}
a{
	font-size: 30px;
	margin-left:80px;
	margin-top: 20px;
}